@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 25;
  --background-end-rgb: 30, 20, 50;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-pink-600;
  }
}
